.container {
    margin: auto;
    width: 1200px;
    font-family: sans-serif;
}

.header {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}



.menu2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}

.menu2 ul li {
    list-style: none;
}

.menu2 ul li a {
    color: black;
    text-decoration: none;
}



.content-404 h2 {
    text-align: center;
    margin-top: 100px;
    margin-left: 15%;
    font-Weight: 550;
    Size: 33px;
    color: #000000;


}

.content-404 .p1 {
    text-align: center;
    width: 250px;
    margin: 0 47%;
    color: #707070;

}

.content-404 {
    height: 400px;

}

.content-404 button {
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    color: black;
    margin-left: 51%;
    margin-top: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.content-404 button a {
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.footer1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul a {
    text-decoration: none;
    margin: 10px;
    color: #707070;


}

.text2 h4 {
    color: black;

}

.text2 {
    display: flex;
    font-size: 13px;
}

.text2 h5 {
    color: #707070;

}

.text3 {

    display: flex;
    justify-content: space-between;
}

.text3 h4 {
    color: #707070;
    font-weight: 100;
}

.footer2 ul {
    display: flex;
    justify-content: right;
    align-content: space-around;
}

/* account  */
.content2 {
    height: 900px;
}

.my {
    text-align: center;
    font-size: 33px;
    font-weight: 550;
    margin-top: 100px;
}

.menu3 ul {
    display: flex;
    margin-top: 50px;
}

.menu3 ul li {
    list-style: none;

}

.menu3 ul a {
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    color: #707070;
}

.menu3 ul .Dashboard a {
    margin-left: -20px;
}

.line {

    display: inline-flex;

}

.hr1 hr {
    width: 130px;
}

.hr2 hr {
    width: 903px;
}

.hr3 hr {
    width: 150px;
}

.hr4 hr {
    width: 450px;
}

.hr5 hr {
    width: 600px;
}

.text4 h3 {
    font-weight: 200;
}

.text4 strong {
    font-weight: 200;
    color: #A18A68;
    font-size: 16px;
}

.hightline {
    height: 100px;


}

.hightline hr {
    border: 2px solid #A18A68;
}

.text5 {
    height: 50px;

    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;

}

.text5 p {
    font-size: 16px;
    margin-left: 10px;


}

.text6 {
    margin-top: 40px;
    height: 1000px;
}

.adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 300px;
}

.adress p {
    font-weight: 400;
    color: #707070;
    font-size: 16px;

}

strong {
    font-weight: 200;
    color: #A18A68;
    font-size: 10px;
    font-weight: 200;
}

.text7 {
    height: 700px;
    width: 600px;
    margin: 3% 25%;
}

.text7 p {
    font-weight: 400;
    color: #707070;
}

.text7 h2 {
    text-align: center;
    font-size: 33px;
    font-weight: 500;
}

.text7 hr {
    margin-top: 20px;
    border: 1px solid #D8D8D8;
}

.text7 button {
    width: 600px;
    height: 50px;
    background: black;
    border-radius: 5px;
}

.text7 button a {
    color: #EFEFEF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

hr {
    border: 1px solid #D8D8D8;
}

.line .hr1 a span:hover {
    color: red;

}

/*  view */
.adress2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.content3 {
    height: 1300px;
}

.adress-box {
    font-size: 11px;
    font-weight: 100;
    margin-top: 50px;
    height: 40px;

}

.delivery-option .adress-box p {
    width: 130px;
}

.table-view {
    height: 400px;
    background: #EFEFEF;
    ;
    width: 500px;
    text-align: center;
}

.table-view th {
    font-size: 17px;
    font-weight: 300;
}

/* cart */
.total-cart p {
    width: 250px;
    margin-top: 10px;
}

.total-cart hr {
    border: 1px solid #D8D8D8;
    margin-top: 20px;
}

.total-cart .adress-box span {
    float: right;
    right: 0;
}

.adress-box h4 {
    font-size: 12px;
    font-weight: 400;
    color: #707070;
}

.adress-box button a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.total button a {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.total-cart .adress-box button {
    background-color: #FFFFFF;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}

#cart-button {
    width: 500px;
    height: 50px;
    background: #000000;


}

#cart-button a {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.cart1 {
    height: 200px;
    display: flex;
    justify-content: space-evenly;

}



.cart-text p {
    color: #707070;
}

.cart-text span {
    color: #A18A68;
}

.cart-text h3 {
    font-size: 20px;
    font-weight: 400;
}

.cart-button {
    height: 100px;

    border-radius: 4px;
    margin-bottom: 10px;
}




.btn-cart {
    width: 250px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 4px;
    float: right;
    background-color: #FFFFFF;
}

.btn-cart a {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn-cart .apply {

    border: 1px solid #000000;

}

/* checkout  */
.text-checkout {
    height: 200px;
    border: 1px solid #D8D8D8;
}

.text-checkout-tt {
    width: 300px;
    margin-left: 10px;
}

.bill {
    margin-top: 100px;
    gap: 30px;
}

.checkcount {
    height: 1400px;
}

.total-checkout {
    height: 700px;
    background: #D8D8D8;
}

.table-checkcount th,
.table-checkcount td {
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
}

.table-checkcount {

    margin: 10px;
    width: 500px;
    text-align: center;
}

.text-checkcount {
    width: 450px;
    margin-left: 15%;

}

.checkout-apply button {
    width: 150px;
    height: 40px;
    background-color: #000000;
    border-radius: 4px;
    float: right;
}

.checkout-apply button a {
    font-size: 17px;
    font-family: 400;
    color: #EFEFEF;
    text-decoration: none;
}

/* order- confimation */

.action {
    color: #A18A68;
}

.orders td,
.orders th {
    height: 100px;
    padding-top: 20px;
}

/* adress */
.btn-cart #save {
    background-color: #000000;
}

.btn-cart #save {
    float: left;


}

/*  shipping bag */
.content-shipping-bag {
    width: 600px;
    margin-left: 25%;
}

.content-shipping-bag .div h2 {
    text-align: center;
    font-size: 33px;
    font-weight: 500;

}

.content-shipping-bag .div p {
    font-weight: 400;
    font-size: 16px;
    margin: 5px;

}

.content-shipping-bag .div li {
    font-weight: 400;
    font-size: 12px;
    margin: 5px;
}

.menu2 a:hover {
    color: red;
}