.slide {
    gap: 20px;
    display: flex;
}

.loai {
    max-width: 30%;
    border: 1px solid black;
    height: 300px;
}

.loai1 {
    width: 180px;
}

.sanpham {
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.sanpham1 {
    text-align: center;
    display: grid;
    width: 220px;
    height: 300;
    border: 1px solid black;
}

.gia {
    color: red;
}

.img {
    max-width: 80%;
}